@model SalesManagementSys.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName &nbsp; @Model.LastName</h2>
<p>Gender: @Model.Sex</p>
<p>Date of Birth: @Model.DateofBirth</p>
<p>P.O Box @Model.Address</p>
<p>State: @Model.State</p>
<p>Street: @Model.Street</p>
<p>Mobile Number: @Model.MobileNo</p>
<p>Phone Number: @Model.PhoneNo</p>
<p>Created on @Model.CreatedOn</p>

